//全局覆盖

html{
  background-color: #fff;
}

.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

.ibox-content {
  background-color: $bgColor;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  -o-border-image: none;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  min-height: 210px;
}

.loginscreen.middle-box {
  width: 300px;
}

.pointer{
  cursor: pointer;
}
